@import 'tailwindcss';
@import './fonts.css';

@theme {
  --color-white: #ffffff;
  --color-text-white: #fafafa;
  --color-white-soft: #fafafa;
  --color-white-muted: #929292;
  --color-black: #252323;
  --color-black-soft: #474343;
  --color-black-muted: #7f7d7d;
  --color-accent: #ed5c14;
  --font-title: 'Argent CF', serif;
  --font-header: 'Argent CF', serif;
  --font-body: 'Overused Grotesk', sans-serif;
  --container-section: 800px;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  .duration-initial {
    transition-duration: 100ms;
  }

  html {
    color-scheme: light dark;
  }

  .using-mouse * {
    outline: none !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-header;
  }

  .section {
    @apply px-4 max-w-section mx-auto;
  }
}

html,
body {
  height: 100%;
}

#texture {
  position: fixed;
  inset: 0;
  z-index: 1;
  width: 100vw;
  min-height: 100vh;
  opacity: 0.1;
  pointer-events: none;
  transform: translateY(0);
  filter: contrast(50%) brightness(40%);
}
